@font-face {
    "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif
}
html, body, section, div, span, i, ul, li, button {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, #main, #save, section{
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

header, section, #main, #save {
    display: flex;
    background: #f2f2f2;
}

button {
    border: 0 solid;
}

button:focus, button:hover, button:visited, button:link {
    outline: thin;
}


div {
    overflow: hidden;
}

ul {
    text-decoration: none;
    list-style: none;
}

header i, header span {
    margin: 5px 20px;
}
header .fa-history {
    float: right;
}


#main {
    display: flex;
    width: auto;
    flex-direction: column;
}

#save {
    top: 0;
    right: 0;
    border-left: 1px solid #dadada;
}

#save li {
    float: left;
    padding: 5px;
}

@media all and (min-width: 811px) {
    #main {
        flex: auto;
    }
    #save {
        flex: 0 0 360px;
    }
}

@media all and (max-width: 810px) {
    #main {
        flex: 0 0 55.6%;
    }
    #save {
        flex: 0 0 44.4%;
    }

}
@media all and (max-width: 540px) {
    #save {
        display: none !important;
    }
    #main {
        flex: 0 0 100%;
    }
}
@media all and (max-height: 480px) {
    .pattern {
        display: none;
    }
}

/*------------- 头部图标及说明 --------------*/
.icon-kind {
    min-height: 32px;
    max-height: 50px;
}
/*------------- 结束头部图标及说明 ---------------*/

/*--------------主界面--------------*/
.main-interface, .screen, .button {
    flex: 0 0 100%;
    flex-direction: column;
}

.main-interface {
    height: auto;
}

/*------------------屏幕------------------*/
.screen {
    position: relative;
    height: 30%;
    border-bottom: 1px solid #dadada;
}
/*-----------------屏幕结束-----------------*/


/*------------主界面结束------------*/

/*--------------当前算式-------------*/
.equation {
    position: relative;
    color: #dadada;
}

.equation-content{
    position: relative;
    float: right;
}

.equation-arrow {
    color: #20a5c3;
}
/*---------------当前算式结束---------------*/

/*-----------------当前数字--------------------*/
.number {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
}

.number span {
    float: right;
}



/*-----------------当前数字结束--------------------*/

/*------------------存储类按钮---------------------*/
.calculator-save {
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
}
.calculator-save button, .more-sign button {
    /*flex: 0 0 auto;*/
    background: #f2f2f2;
    color: #616161;
}

.calculator-save button {
    position: relative;
    display: block;
    float: left;
    min-width: 32px;
    height: 32px;
}

.show-save {
    float: right;
    display: none;
}


@media all and (min-width: 192px) {
    .calculator-save button {
        width: 16.666% !important;
    }
}

@media all and (min-width: 480px) {
    .calculator-save button {
        width: 80px;
    }
}

@media all and (max-width: 540px) {
    .calculator-save button {
        width: 16.666%;
    }
    .show-save {
        display: block;
    }
}

@media all and (min-width: 840px) {
    .calculator-save button {
        width: 80px !important;
    }
}


/*---------------存储类按钮结束------------*/

/*------------------按钮总类-----------------------*/

.button {
    position: relative;
    height: 70%;
}

/*-----------------结束按钮总类---------------------*/



/*---------------其他按钮-----------------*/

.calculator-sign {
    height: 100%;
}

/*---------------其他按钮结束-----------------*/

/*--------------- more sign --------------*/

.more-sign {
    position: relative;
    display: block;
    height: 16.66666%;
}

.more-sign button {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
}

/*--------------- end more sign -----------------*/

/*--------------- basic sign ---------------------*/

.basic-sign {
    position: relative;
    display: block;
    height: 83.3333%;
}

.basic-sign button {
    position: relative;
    width: 20%;
    height: 20%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/*--------------- end basic sign -------------------*/